{% extends "base.html" %}

{% block title %} Cowbeans {% endblock %}
{% block head %}
 {{ parent() }}
 <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 <link rel="stylesheet" href="../public_html/static/css/main.css" />
 <script src="../public_html/static/js/game.js"></script>
 <script src="../public_html/static/js/input.js"></script>
 <script src="../public_html/static/js/display.canvas.js"></script>  
 <script src="../public_html/static/js/screen.splash.js"></script>
 <script src="../public_html/static/js/screen.mainMenu.js"></script>
 <script src="../public_html/static/js/board.js"></script>
 <script src="../public_html/static/js/screen.gameScreen.js"></script>
{% endblock %}

{% block content %}
  {{ a }}
  <div id="gameContainer">    
    <div class="background"></div>
    <div class="screen" id="splashScreen">
      <h1 class="logo">Game</h1>
      <span>Click to Continue</span>
    </div>
    <div class="screen" id="mainMenu">
      <h2 class="logo">Game</h1>
      <ul class="menu">
        <li><button name="gameScreen">Play</button>
        <li><button name="hiscore">Highscore</button>
        <li><button name="about">About</button>
        <li><button name="exitScreen">Exit</button>
      </ul>
    </div>
    <div class="screen" id="gameScreen">
      <div class="gameBoard jewelSize"></div>
    </div>
    <div class="screen" id="highScores"></div>
    <div id="jewel-proto" class="jewel-size"></div>
  </div>
{% endblock %}
